<header class="p-3 bg-dark text-white">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between">
      <a href="/" class="col-3 fw-bold d-flex align-items-center px-2 mb-2 mb-lg-0 text-white text-decoration-none">
          <h2 class="">
            Notes
          </h2>
      </a>

      <form class="nav col-6 flex-fill col-lg-auto mb-3 mb-lg-0 me-lg-3">
        <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" >
      </form>

      <div class="text-end col-3">
        <a href="/logout" class="btn btn-primary">Logout</a>
      </div>
    </div>
</header>